@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

/******************
 * CSS VARIABLES
******************/
:root {
    --header-height: 60px;
    --sidebar-width: 250px;
    --info-color: #3b82f6;
    --text-color: #1f2937;
    --text-light: #6b7280;
    --transition-speed: 0.3s;
    --border-color: #e5e7eb;
    --danger-color: #ef4444;
    --success-color: #10b981;
    --warning-color: #f59e0b;
    --primary-color: #6366f1;
    --card-background: #ffffff;
    --secondary-color: #f59e0b;
    --background-color: #f5f9fd;
    --white-alpha-8: hsla(0, 0%, 58%, 0.181);
    --box-shadow: 0 15px 15px -3px rgba(129, 141, 248, 0.147), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*********************
 * DARK MODE STYLES
*********************/
.dark-mode {
    --info-color: #60a5fa;
    --text-color: #f9fafb;
    --text-light: #9ca3af;
    --danger-color: #f87171;
    --border-color: #374151;
    --primary-color: #818cf8;
    --warning-color: #fbbf24;
    --success-color: #34d399;
    --secondary-color: #fbbf24;
    --card-background: #151034;
    --background-color: #080322;
    --white-alpha-8: hsla(0, 0%, 100%, 0.181);
    --box-shadow: 0 10px 15px -3px rgba(129, 141, 248, 0.147), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/*********************
 * GENERAL STYLES
*********************/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.4s ease-in-out;
}

body {
    overflow-x: hidden;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    background-color: var(--background-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

/**=======================
 * SCROLLBAR STYLES
=======================*/
::-webkit-scrollbar {
    width: 0.5rem;
    background: var(--background-color);
}

::-webkit-scrollbar-thumb {
    border-radius: 20rem;
    background: var(--primary-color);
}

::-webkit-scrollbar-thumb:hover {
    background: #5355ce;
}

::selection {
    background-color: var(--white-alpha-8);
}

/******************************
 * DASHBOARD WRAPPER STYLES
******************************/
.dashboard-wrapper {
    display: flex;
    min-height: 100vh;
}

/*********************
 * SIDEBAR STYLES
*********************/
.sidebar {
    top: 0;
    left: 0;
    bottom: 0;
    padding: 20px;
    display: flex;
    z-index: 1000;
    position: fixed;
    overflow-y: auto;
    flex-direction: column;
    border-radius: 0 0 20px 0;
    width: var(--sidebar-width);
    box-shadow: var(--box-shadow);
    background: var(--card-background);
    transition: all var(--transition-speed);
}

.sidebar-header {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.sidebar-title {
    font-size: 1.4rem;
}

.logo {
    display: flex;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
    color: var(--primary-color);
}

.logo-icon {
    width: 32px;
    height: 32px;
    margin-right: 10px;
    fill: currentColor;
}

.sidebar-close {
    border: none;
    display: none;
    font-size: 24px;
    cursor: pointer;
    background: none;
    color: var(--text-color);
}

/**************************
 * NAVIGATION LINK STYLES
**************************/
.nav-links {
    margin-top: 30px;
    list-style-type: none;
}

.nav-links li {
    margin-bottom: 15px;
}

.nav-links a {
    display: flex;
    padding: 10px;
    border-radius: 8px;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

.nav-links a:hover,
.nav-links svg:hover,
.nav-links .active a {
    color: #ffffff;
    background-color: var(--primary-color);
}

.nav-links svg {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    fill: currentColor;
}

/************************
 * THEME TOGGLE STYLES
************************/
.theme-toggle {
    margin-top: auto;
    padding-top: 20px;
}

.theme-toggle-input {
    display: none;
}

.theme-toggle-label {
    width: 50px;
    height: 25px;
    cursor: pointer;
    position: relative;
    border-radius: 25px;
    display: inline-block;
    background-color: var(--text-light);
    transition: background-color var(--transition-speed);
}

.theme-toggle-label::after {
    top: 2px;
    left: 2px;
    width: 21px;
    content: '';
    height: 21px;
    position: absolute;
    border-radius: 50%;
    background-color: #ffffff;
    transition: transform var(--transition-speed);
}

.theme-toggle-input:checked+.theme-toggle-label {
    background-color: var(--primary-color);
}

.theme-toggle-input:checked+.theme-toggle-label::after {
    transform: translateX(25px);
}

/***********************
 * MAIN CONTENT STYLES
***********************/
.main-content {
    flex: 1;
    padding: 0 20px 0 20px;
    margin-left: var(--sidebar-width);
    transition: margin-left var(--transition-speed);
}

.top-bar {
    display: flex;
    padding: 15px;
    margin-bottom: 32px;
    align-items: center;
    border-radius: 0 0 20px 20px;
    box-shadow: var(--box-shadow);
    justify-content: space-between;
    background-color: var(--card-background);
}

.sidebar-toggle {
    border: none;
    display: none;
    font-size: 24px;
    cursor: pointer;
    background: none;
    color: var(--text-color);
}

/*******************
 * SEARCH STYLES
*******************/
.search-container {
    display: flex;
    width: 300px;
    padding: 5px 15px;
    align-items: center;
    border-radius: 25px;
    background-color: var(--background-color);
}

.search-input {
    width: 100%;
    border: none;
    padding: 5px;
    font-size: 16px;
    background: transparent;
    color: var(--text-color);
}

.search-input:focus {
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: var(--text-light);
}

.search-btn {
    border: none;
    cursor: pointer;
    background: none;
}

.search-btn svg {
    width: 20px;
    height: 20px;
    fill: var(--text-light);
}

/***********************
 * USER ACTION STYLES
***********************/
.user-actions {
    gap: 15px;
    display: flex;
    align-items: center;
}

/***********************
 * ACTION BUTTON STYLES
***********************/
.action-btn {
    border: none;
    cursor: pointer;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 5px;
    background-color: var(--primary-color);
    transition: background-color var(--transition-speed), transform var(--transition-speed);
}

.action-btn::after {
    top: 50%;
    left: 50%;
    width: 5px;
    opacity: 0;
    content: '';
    height: 5px;
    position: absolute;
    border-radius: 100%;
    transform-origin: 50% 50%;
    transform: scale(1, 1) translate(-50%);
    background: rgba(255, 255, 255, 0.5);
}

.action-btn:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.action-btn:active {
    transform: translateY(1px);
}

.action-btn:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}

/***********************
* KEYFRAMES STYLES
***********************/
@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}

/***********************
 * NOTIFICATION STYLES
***********************/
.notifications {
    cursor: pointer;
    position: relative;
}

.notifications svg {
    width: 24px;
    height: 24px;
    fill: var(--text-color);
}

.notification-badge {
    top: -5px;
    right: -5px;
    font-size: 12px;
    color: #ffffff;
    padding: 2px 5px;
    position: absolute;
    border-radius: 50%;
    animation: pulse 2s infinite;
    background-color: var(--danger-color);
}

/********************
 * KEYFRAMES STYLES
********************/
@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

/***********************
 * USER PROFILE STYLES
***********************/
.user-profile {
    gap: 10px;
    display: flex;
    align-items: center;
}

.user-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.user-name {
    font-weight: bold;
}

/**************************
 * DASHBOARD GRID STYLES
**************************/
.dashboard-grid {
    gap: 40px;
    display: grid;
    padding-bottom: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

/*****************
 * CARD STYLES
*****************/
.card {
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    animation: fadeIn 1s ease-in-out;
    background-color: var(--card-background);
    transition: box-shadow var(--transition-speed), transform var(--transition-speed);
    box-shadow: 0 20px 15px -3px rgba(129, 141, 248, 0.147), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 15px -3px rgba(129, 141, 248, 0.147), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card h2 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

/***********************
* KEYFRAMES STYLES
***********************/
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-20px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/*******************
 * PROJECT STYLES
*******************/
.project-overview {
    grid-column: span 2;
}

.project-stats {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
}

/**************************
* CHART CONTAINER STYLES
**************************/
.chart-container {
    height: 300px;
    position: relative;
    margin-bottom: 20px;
}

.chart-container::after {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    position: absolute;
    pointer-events: none;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1), transparent);
}

/*****************
 * STATS STYLES
*****************/
.stat {
    gap: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-value {
    font-size: 24px;
    font-weight: bolder;
    color: var(--primary-color);
}

.stat-label {
    font-size: 14px;
    color: var(--text-light);
}

/*********************
 * TASKLIST STYLES
*********************/
.task-lists {
    margin-bottom: 30px;
}

.task-list ul {
    list-style-type: none;
}

.task-list li {
    display: flex;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    justify-content: space-between;
    transition: transform 0.3s ease;
    background: var(--background-color);
}

.task-list li:last-child {
    border-bottom: none;
}

.task-list li:hover {
    transform: translateX(-5px);
}

.task-name {
    font-size: 0.9rem;
}

/***********************
 * TASK STATUS STYLES
***********************/
.task-status {
    font-size: 12px;
    padding: 3px 8px;
    border-radius: 15px;
}

.task-status.pending {
    color: #000000;
    background-color: var(--warning-color);
}

.task-status.in-progress {
    color: #ffffff;
    background-color: var(--info-color);
}

.task-status.completed {
    color: #ffffff;
    background-color: var(--success-color);
}

/***********************
 * ACTIVITY STYLES
***********************/
.activity-feed {
    width: 100%;
    overflow-y: auto;
    max-height: 300px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-color) var(--background-color);
}

.activity-item {
    display: flex;
    margin-bottom: 15px;
    align-items: flex-start;
}

.activity-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.activity-content p {
    margin-bottom: 5px;
}

.activity-time {
    font-size: 12px;
    color: var(--text-light);
}

/*************************
 * RESOURCE CHART STYLES
*************************/
.resource-charts {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.resource-chart {
    text-align: center;
    width: calc(33.33% - 10px);
}

.resource-chart:nth-child(1) {
    width: 70%;
    grid-column: span 3;
}

.resource-chart:nth-child(2) {
    width: 70%;
    grid-column: span 3;
}

.resource-chart:nth-child(3) {
    width: 70%;
    grid-column: span 3;
}

.resource-chart canvas {
    margin-bottom: 10px;
}

/***********************
 * DEADLINE STYLES
***********************/
.deadline-list {
    list-style-type: none;
}

.deadline-list li {
    margin-bottom: 35px;
}

.deadline-project {
    font-weight: bold;
}

.deadline-date {
    font-size: 14px;
    color: var(--text-light);
}

.deadline-progress {
    height: 5px;
    margin-top: 5px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--border-color);
}

/***********************
* PROGRESS BAR STYLES
***********************/
.progress-bar {
    height: 100%;
    background-color: var(--primary-color);
    transition: width var(--transition-speed);
}

/**************
* FORM STYLES
**************/
.form-section {
    padding: 50px;
    max-width: 600px;
    margin: 80px auto 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: var(--text-color);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group select,
.form-group textarea {
    width: 100%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    color: var(--text-color);
    background-color: var(--background-color);
}

.form-group input[type="text"]:focus,
.form-group input[type="email"]:focus,
.form-group textarea:focus {
    border: none;
    outline: 1px solid var(--primary-color)
}

.form-group textarea {
    height: 100px;
    resize: vertical;
}

.radio-group {
    gap: 15px;
    display: flex;
}

.radio-group input[type="radio"] {
    margin-right: 5px;
}

/**********************
* FORM RESULT STYLES
**********************/
.form-section {
    width: 100%;
}

.form-result {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    z-index: 10000000;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.form-result .result-content {
    width: 90%;
    padding: 40px;
    max-width: 500px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    background-color: var(--card-background);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.result-header {
    margin-bottom: 2rem;
}

.submitted-data p {
    text-align: left;
    padding-bottom: 20px;
}

.form-result .close-btn {
    top: 10px;
    right: 10px;
    border: none;
    font-size: 24px;
    cursor: pointer;
    background: none;
    position: absolute;
    color: var(--text-color);
}

/********************
 * FOOTER STYLES
********************/
.footer {
    text-align: center;
    padding-bottom: 1rem;
}

/********************
 * TOOLTIP STYLES
********************/
[data-tooltip] {
    cursor: help;
    position: relative;
}

[data-tooltip]::after {
    left: 50%;
    opacity: 0;
    bottom: 125%;
    font-size: 12px;
    padding: 5px 10px;
    visibility: hidden;
    position: absolute;
    border-radius: 4px;
    white-space: nowrap;
    content: attr(data-tooltip);
    transform: translateX(-50%);
    color: var(--card-background);
    background-color: var(--text-color);
    transition: opacity 0.3s, visibility 0.3s;
}

[data-tooltip]:hover::after {
    opacity: 1;
    visibility: visible;
}

/***********************
 * BREAKPOINT STYLES
***********************/
@media (max-width: 890px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.show-sidebar {
        transform: translateX(0);
    }

    .sidebar-close {
        display: block;
    }

    .main-content {
        margin-left: 0;
    }

    .sidebar-toggle {
        display: block;
    }

    .search-container {
        width: 100%;
        margin-bottom: 10px;
    }

    .user-actions {
        flex-wrap: wrap;
        justify-content: flex-end;
    }

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

    .project-overview {
        grid-column: span 1;
    }

    .resource-usage {
        grid-column: span 1;
    }

    .resource-chart {
        width: 100%;
        margin-bottom: 20px;
    }

    .resource-chart:nth-child(1) {
        width: 40%;
        grid-column: span 3;
    }

    .resource-chart:nth-child(2) {
        width: 40%;
        grid-column: span 3;
    }

    .resource-chart:nth-child(3) {
        width: 40%;
        grid-column: span 3;
    }

    .upcoming-deadline {
        grid-column: span 2;
    }
}